@import "tailwindcss";

@theme {
  --shadow-light-xl: 4px 20px 25px -5px rgba(255, 255, 255, 0.2), 2px 15px 20px -6px rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
}

/* App height layout fix */
html, body, #root {
  @apply h-full m-0 flex flex-col;
}

/* Global variables and font rendering */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Background and default text styles */
body {
  @apply text-center text-gray-600 bg-gray-100;
  /* background-image: radial-gradient(ellipse at top left, #014848, #00312F); */
}

/* Modal overlay */
.modal-backdrop {
  background-color: rgba(0,0,0,0.5);
}